.locationContainer{
    border: none;
    padding: 20px;
    margin-left: 28em;
    width: 660px;
    background: whitesmoke;

    .information-name{
        float: left;
        border-bottom: #ddd 1px solid;
        padding: 5px 0;
        font-weight: 700;
        width: 660px;
        margin: 15px 0;
        color: #c00;
        font-size: 16px;
    }

    
}

